<%= render "admin/header" %>


<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>商品新規登録</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-10 px-sm-0 mx-auto mb-5">
      <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
      <table>
        <tr>
          <div class="form-group">
            <th><%= f.label :image, "商品画像" %></th>
            <td><%= f.file_field :image, accept: "image/*" %></th>
          </div>
        </tr>
        
        <tr>
          <div class="form-group">
            <th><%= f.label :name, "商品名" %></th>
            <td><%= f.text_field :name %></th>
          </div>
        </tr>
        
        <tr>
          <div class="form-group">
            <th><%= f.label :introduction, "商品説明" %></th>
            <td><%= f.text_area :introduction, size: "50x5" %></th>
          </div>
        </tr>
        
        <tr>
          <div class="form-group">
            <th><%= f.label :genre_id, "ジャンル" %></th>
            <td><%= f.select :genre_id, [["ケーキ", "1"], ["プリン", "2"]], include_blank: "選択して下さい" %></th>
          </div>
        </tr>
        
        <tr>
          <div class="form-group">
            <th><%= f.label :price, "値段(税抜き)" %></th>
            <td><%= f.text_field :price %>円</th>
          </div>
        </tr>
        
        <tr>
          <div class="form-group">
            <th><%= f.label :is_active, "販売ステータス" %></th>
            <td>
              <%= f.radio_button :is_active, :on_sale, checked: "checked"%>
              <%= f.label :is_active, "販売中" %>
              <%= f.radio_button :is_active, :off_sale %>
              <%= f.label :is_active, "販売停止中" %>
            </td>
          </div>
        </tr>
        
        <tr>
          <div class="form-action">
            <th><%= f.submit "新規登録", class:"btn btn-success" %></th>
          </div>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

