<%= render "admin/header" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 mx-auto">
      <div class="text-center">
        <p>
          ようこそ、ながのCAKEへ！</br>
          このサイトは、ケーキ販売のECサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。
        </p>
    </div>
    </div>
  </div>
</div>

<div class="container new-item">
  <h2>新着商品</h2>
  <div class="row">
    <% @items.each do |item| %>
      <p>
        <%= link_to public_item_path(item.id) do %>
        <%= image_tag item.image, size: "100x100" %>
        <% end %>
      </p>
      <p><%= item.name %></p>
    <% end %>
  </div>
  <div class="all-items-show-button"><%= link_to "全ての商品をみる", public_items_path %></div>
</div>

