<%= render "public/header" %>

<h1>商品一覧</h1>
<h4>全<%= @item.count %>件</h4>

<% @item.each do |item| %>
      <div>
        <div>
          <%= link_to public_item_path(item.id) do %>
          <p><%= image_tag item.image,  size: "180x130" %></p>
          <% end %>
        <div>
          <p><%= item.name %></p>
          <% if item.is_active == true %>
          <p>¥<%= item.price %></p>
          <% else %>
          <p>売り切れ</p>
        <% end %>
<% end %>